*{
    margin: 0;
    padding: 0;
}
section{
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    /* position: relative; */
    
}
nav{
    padding: 10px 0px 0px 100px;
    width: 20%;
    height: 100vh;
    position: sticky;
    top: 0;
    background-attachment: scroll;
    font-family: 'Times New Roman', Times, serif;
    overflow-y: auto ;
    /* background-color: rebeccapurple; */
    
}
nav img{
    height: 30px;
}
a{
    text-decoration: none;
}
nav button{
    width: 120px;
    color: rgba(0, 0, 0, 0.521);
    height: 45px;
    background-color: transparent;
    border: none;
    font-size: 17px;
    margin: 20px 0 0 0px;
    justify-content: space-evenly;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    /* transition: all 1s ease; */
}
.notifications{
    width: 150px;
    display: flex;
}
.notif{
    width: 200px;
    display: flex;
}
.post{
    width: 200px;
    color: white;
    height: 40px;
    background-color: rgb(29,155,240);
    border: none;
    font-size: 17px;
    text-align: center;
    border-radius: 20px;
    transition: all 1s ease ; 
}
.post:hover{
    color: blue;
}
.List{
   padding-right: 20px;
}
.Grok{
    padding-right: 15px;
}
.mohe{
    color: black;
}
i{
    color: black;
    font-size: 20px;
}
span{
    color: black;
    font-size: 20px;
}
.home button{
    margin-top: px;
}
nav button:hover{
    border-radius: 20px;
    background-color: rgba(230, 222, 222, 0.63);
    cursor: pointer;
}
nav button:focus{
    color:  black; 
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.serch{
    margin-top: 10px;
}
#hh{
    font-size: 30px;
    color: blue;
}
#pd{
    font-size: 13px;
    color: black;
}







.second-section{
    padding: 0px 0px 0px 0px;
    width: 49%;
    height: 100%;
    background-attachment: scroll;
    font-family: 'Times New Roman', Times, serif;
    /* background-color: red; */
}
.flex{
    display: flex;
    align-items: center;
}
#settings{
    margin-left: 60px;
    font-size: 18px;
}
input{
    width: 400px;
    height: 30px;
    padding: 15px;
    box-sizing: border-box;
    margin-top: 10px;
    border: none;
    outline: none;
    border-radius: 20px;
    background-color: rgba(230, 222, 222, 0.63);
}
.Music{
    display: flex;
    align-items: center;
    padding: 10px;
}
.Music span{
    padding-left: 350px;
}
.Trends h1{
    padding: 10px 0px 0px 10px;
}
.sss{
    padding-left: 10px;
}
.more{
    color: rgb(29,155,240);
    padding: 10px 0px 0px 10px;
    margin-top: 30px;
    font-size: 20px;
}
.more:hover{
    background-color: rgba(230, 222, 222, 0.63);
    cursor: pointer;
}
.wizkid:hover{
    background-color: rgba(230, 222, 222, 0.63);
    cursor: pointer;
}
.Trends{
    width: 500px;
    height: 800px;
    border-radius: 10px;
    /* padding: 10px; */
    margin-top: 30px;
    /* background-color: rgba(230, 222, 222, 0.63);  */
}






aside{
    padding: 0px 0px 0px 0px;
    margin-left: 35px;
    width: 28%;
    height: 100%;
    position: sticky;
    top: 0;
    background-attachment: scroll;
    font-family: 'Times New Roman', Times, serif;
    /* background-color: blue; */
}
#xx{
    color: yellow;
}
.air{
    padding: 20px 0px 0px 20px;
    cursor: pointer;
    /* display: flex;
    align-items: center; */
}
.airtelw{
    display: flex;
}
.airtelw p{
    padding-left: 10px;
    display: flex;
    align-items: center;
}
.airtelw img{
    height: 30px;
    border-radius: 20px;
}
.flw{
    width: 100px;
    height: 30px;
    margin-left: 50px;
    font-size: 15px;
    background-color: black;
    color: white;
    border-radius: 20px;
    border: none;
    /* padding: 10px;  */
}
.who{
    width: 300px;
    height: 260px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    box-sizing: border-box;
    background-color: rgba(230, 222, 222, 0.63);
}
.Cookie{
    display: flex;
    color: rgba(26, 25, 25, 0.521);
    font-size: 15px;
    justify-content: space-evenly;
    width: 300px;
    height: 20px;
    margin-top: 20px;
    cursor: pointer;
}
.Cookie a:hover{
    text-decoration: underline;
}
.ads a:hover{
    text-decoration: underline;
}
.who h1{
    padding-left: 20px;
}
.ads{
    display: flex;
    color: rgba(26, 25, 25, 0.521);
    font-size: 15px;
    justify-content: space-evenly;
    width: 300px;
    height: 20px;
    cursor: pointer;
}
.more{
    color: rgb(29,155,240);
    padding: 10px 0px 0px 10px;
    margin-top: 30px;
    font-size: 20px;
}
.more:hover{
    background-color: rgba(230, 222, 222, 0.63);
    cursor: pointer;
}